@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.navbar {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem 1rem 4rem;
  align-items: center;
}

.logo-img {
  width: 8rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
  font-weight: 500;
}

a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}

.contact {
  color: rgb(231, 77, 15);
}

li {
  list-style: none;
}

.nav-links {
  display: flex;
  gap: 5rem;
  font-size: 1.1rem;
}

.hero-container {
  width: 100%;
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-container_text {
  margin-left: auto;
  font-size: 4.5rem;
  position: relative;
  padding-left: 70rem;
  text-align: center;
  font-weight: 600;
}

.reputation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 20rem;
  gap: 4rem;
}

.reputation-container_heading {
  font-size: 3rem;
}

.reputation_container_item {
  display: flex;
  gap: 10rem;
}

.reputation_container_item_box {
  border: 2px solid #e4e4e4;
  height: 13rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 0.5rem;
}

.reputation_container_item_box img {
  width: 2.5rem;
}

.reputation_container_item_box h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.reputation_container_item_box p {
  color: #858ead;
  line-height: 1.3rem;
}

/* about section style */

.about-container {
  padding: 5rem 4rem;
  display: flex;
  align-items: center;
}

.about-container img {
  width: 70%;
  height: 60rem;
}

.about-container_text {
  height: 35rem;
  width: 40%;
  background-color: #2947a9;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: -10rem;
}

.about-container_text h2 {
  font-size: 2.1rem;
  color: white;
}

.about-container_text_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-container_text p {
  color: white;
  font-size: 1.1rem;
}

.about-container_text button {
  height: 3rem;
  width: 12rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #2947a9;
  font-weight: 600;
  margin-top: 5rem;
}

/* service section style */

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 4rem;
  background-color: #f6f8f7;
}

.services h2 {
  font-size: 25px;
  font-weight: bold;
}

.service-container {
  display: flex;
  gap: 130px;
  margin-top: -5rem;
}

.service-item {
  width: 200px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #2947a9;
  margin-top: 130px;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.service-item img {
  border-bottom: 1px solid #e0e3eb;
  padding: 1rem;
}

.service-item p {
  font-size: 15px;
  font-weight: 500;
  padding: 2rem;
}

.blue {
  background-color: #2947a9;
  color: white;
}

/* experience sectoin style */

.experience {
  width: 100%;
  height: auto;
  display: flex;
  padding: 6rem 5rem 0 5rem;
  align-items: center;
}

.result {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 10rem;
}

.result-item {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.result-item:nth-child(odd) {
  align-self: flex-end;
}

.result-item:nth-child(even) {
  align-self: flex-start;
}

.result-item_header {
  display: flex;
}

.result-item_num {
  font-size: 50px;
  color: #292e3d;
  font-weight: 600;
}

.img {
  height: 4rem;
  width: 4rem;
  margin: 0 0 0 5rem;
}

.hand,
.gift {
  flex: 1;
}

.note,
.pen {
  flex: 2;
}

.result-item_footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.result-item_text2 {
  font-size: 18px;
  color: #667299;
}

.side-line {
  height: 1rem;
  width: 5px;
  background-color: #f9995d;
}

.experience-section {
  padding: 6rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.experience-section h2 {
  font-size: 50px;
  color: #2947a9;
}

.experience-section p {
  font-size: 20px;
  color: #667299;
}

.contactbtn {
  width: 12rem;
  height: 4rem;
  background-color: #2947a9;
  color: white;
  font-size: 16px;
  border: none;
  font-weight: 600;
}

/* call section style */

.call-section {
  position: relative;
  height: 230px;
  width: 100%;
  margin: 5rem 0;
  background-image: url("images/bg2.avif");
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.call-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(15px); 
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.call-section_left,
.call-section_right {
  position: relative;
  z-index: 2;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.call-section_left h5{
  font-size: 30px;
}

.call-section_left p{
    font-size: 20px;
    font-weight: 500;
}

.call-section_left span {
  text-decoration: underline;
}

.call-section_right{
    padding: 1.5rem 4rem;
    border: 2px solid black;
    font-weight: 500;
    font-weight: 1.2rem;
}